.photo{
	height:200px;
	width: 200px;
    border-radius: 50%;
    border-color: #000;
    border-style: solid;
    border-width: 10px;
}
.main{
	display: flex;
	justify-content: center;

}
.Top{
	border-bottom: dashed; 3px black;
}
.gauche{
	border-right: solid 3px black;
	margin-right: 70px;
	background-color: #777;
	background-attachment: fixed;
	padding: 200px;
	padding-bottom: 20px;
	color: #000;
}
.droite{
	margin-gauche: 100px;
}
.content2{
	padding-bottom: 30px;
}
.content6{
    padding-bottom: 50px;
}
.content5{
	margin-right: 50px;
	padding-bottom: 20px;
}
.content4{
	padding-bottom: 30px;
}
.content3{
padding-bottom: 40px;
}
header{
	justify-content: left;
}